.sun-model-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sun-model {
  position: absolute;
  transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &.move-to-corner {
    top: 110%;
    left: 54%;
    transform: translate(-90%, -90%) scale(.7);
  }
}

@keyframes moveToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%) scale(0.3);
  }
}
